{% extends "layout.html" %} 
{% block title %} Home 
{% endblock %} 
{% block content %}

    <div class="container">
        <div class="title" style="color:azure;"><b><h3>URL Shortener</h3></b></div><br>
        <form action="" method="post">
            <div class="">
                <div class="input-box">
                    <input type="text" name="in_1" placeholder="Enter your url"><br><br>
                    <button class="btn btn-info"> submit </button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}